body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: cadetblue;
}

img {
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
    width: 300px;
    margin: 5px;
}

button {
    padding: 20px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    color: green;
    background-color: white;
    margin: 20px;
    text-decoration: none;
    border: none;
    outline: none;
    line-height: 1; 
    vertical-align: middle; 
}


.button-padding {
    padding-top: 20px;
}
