body {padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: black;
}

img {
    height: 300px;
    width: 300 px;
    border: solid 2px red;
    border-radius: 10px;
}

button {
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    align-content: center;
}
