body {padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: 
    }

img {
    height: 300px;
    width: 300 px;
    border: solid 2px red;
    border-radius: 10px;
}
button {
    height: 50px;
    width: 50 px;
}
